* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
	display: inline-block;
}

body {
	font-size: 14px;
	background-image: url('./images/bg-body.png');
	background-repeat: no-repeat;
	background-size: 1600px;
	background-position: center top;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}

.header {
	background-image: url('./images/bg-header.jpg');
	background-repeat: no-repeat;
}

.header p {
	font-size: 25px;
    color: #B2B3AF;
    font-weight: lighter;
    font-style: italic;
    padding: 55.6px 27px;
}

.nav {
	background-image: url(./images/bg-menu.png);
	background-repeat: no-repeat;
}

.nav ul {
	list-style-type: none;
	padding-left: 12px;
}

.nav ul li {
	display: inline-block;
    margin-right: 5px;
}

.nav ul li a {
	display: inline-block;
	text-decoration: none;
    color: white;
    padding: 9.1px 8.5px;
    background-image: url(./images/bg-menu.png);
    background-size: 0px 35px;
    transition: background-image 1s ease-in-out;
}

.nav ul li a:hover {
	background-image: url(./images/bg-menu-hover.png);
	background-size: 70px 35px;
	background-repeat: no-repeat;
}

.main {
	display: table;
}

.column-1 {
	width: 74%;
	display: table-cell;
}

.column-2 {
	width: 26%;
	display: table-cell;
	vertical-align: top;
}

.column-1 {
	padding-left: 5px;
}

.column-1 h1 {
	color: #BDCA5C;
	font-weight: lighter;
}

.column-1 h4 {
	font-weight: lighter;
	color: #d1cee8;
}

.image-container img{
	width: 480px;
	height: 72px;
}

.column-1 p {
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 1.5em;
}

.comment {
	vertical-align: middle;
	padding-bottom: 100px;
}

.comment img {
	height: 16px;
	width: 16px;
	vertical-align: middle;
}

.comment p {
	display: inline-block;
}

.button-container {
	width: 100%;
	background-image: url(images/bg-feed.gif);
	/*padding-bottom: 30px;*/
	background-repeat: no-repeat;
	background-position: top center;
}

.my-btn {
	background-image: url('./images/button-feed.png');
	background-repeat: no-repeat;
	width: 100%;
	padding: 12px;
	background-position: top center;
}

.my-btn:hover {
	background-position:bottom center;
}

.feed {
	background-color: #E3E3E3;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 15px;
}

.feed nav {
	padding-bottom: 25px;
}

.feed nav ul {
	list-style-type: none;
}

.feed nav ul li {
	border-bottom: 1px solid #888;
	padding: 2px 8px;
}

.feed nav ul li a {
	text-decoration: none;
	color: black;
}

.footer {
	background-image: url('./images/bg-footer.jpg');
	background-repeat: no-repeat;
}

.footer h3 {
	font-weight: lighter;
	padding: 65px 15px 15px 15px;
	color: white;
}
